# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env
.env.local

# Django
db.sqlite3
staticfiles/
media/

# Migrations (optional — usually keep them, but ok for now)
# */migrations/

# VS Code
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Remove local settings
config/settings/local.py